<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation-bar">
      <div id="navigation-container">
        <ul>
          <li><a href="<%= contacts_path %>">Contact</a></li>
          <li><a href="<%= contact_lists_path %>">Contact List</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
